#intracandle {
    width: 980px;
    background: white;
}
#jqChart {
    height: 210px;
}
#jqChartVolume {
    height: 90px;
    /*margin-top: -19px;*/
    margin-top: -27px;
    background: white;
}
#date {
    font-weight: bold;
    float: right;
}
.info span {
    margin-right: 10px;
}
.info {
    padding: 2px;
    background-color: rgb(185, 185, 185);
}
.info * {
    font-size: 12px;
    font-family: Arial;
}
#tickerContainer {
	opacity: 0.2;
}
